<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>coding-maven</id>
            <username>ptv56pqqk67c</username>
            <password>9911f45c96d99f2493ea91f75135895553ab324c</password>
        </server>
    </servers>
	<profiles>
        <profile>
            <id>Repository Proxy</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>coding-maven</id>
                    <name>coding-maven</name>
                    <url>https://dobbinsoft-maven.pkg.coding.net/repository/dobbinsoft/maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
